body {
margin: 0;
padding: 0;
font-family: sans serif;
background: rgb(5,25,25);
background: linear-gradient(0deg, rgba(5,25,25,1) 0%, rgba(13,65,66,1) 25%, rgba(41,208,210,1) 82%, rgba(6,28,29,1) 100%, rgba(0,0,0,1) 100%);
}


